version: "3.9"

services:
  user-service:
    container_name: user-service
    build: .
    ports:
      - "5001:5001"
    restart: always
    networks:
      - gateway_app-net

networks:
  gateway_app-net:
    external: true
