version: "3.9"

services:
  user-service:
    build: .
    container_name: user-service
    ports:
      - "5001:5001"
    restart: always
    networks:
      - shared-net

networks:
  shared-net:
    external: true
    name: gateway_app-net
